/* importing files */ 

@import "sass/variables";

@import "sass/mixins";

@import "sass/helpers";

/* importing files */

/* start global rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
/* end global rules */
/* start rules of body */
body {
    
}
/* end rules of body */
/* start loading page */ 
.load {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    height: 100%;
    width: 100%;
    z-index: 9999999;
    padding-left: 48%;
    padding-top: 20%;
    display: block;
    @media #{$mobilemedia} {
        padding-left: 40%;
        padding-top: 60%;
    }
    @media (min-width: 768px) and (max-width: 992px) {
        padding-left: 38%;
        padding-top: 48%;
    }
    .lds-hourglass {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;
      }
      .lds-hourglass:after {
        content: " ";
        display: block;
        border-radius: 50%;
        width: 0;
        height: 0;
        margin: 6px;
        box-sizing: border-box;
        border: 36px solid #000;
        border-color: #000 transparent #000 transparent;
        animation: lds-hourglass 1.2s infinite;
      }
      @keyframes lds-hourglass {
        0% {
          transform: rotate(0);
          animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
        50% {
          transform: rotate(900deg);
          animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        100% {
          transform: rotate(1800deg);
        }
      } 
} 
/* end loading page */ 
/* start navbar */
.navbar {
    background-color: transparent;
    position: relative;
    @include prefixes (transition, all 0.8s ease-in-out, webkit moz o);
    @media #{$mobilemedia} {
        background-color: $maincolor !important;
        padding: 10px !important;
    }
    @media (min-width: 768px) and (max-width: 992px) {
        background-color: $maincolor !important;
        padding: 15px !important;
    }
    @media #{$mediummedia} {
        background-color: transparent;
    }
    .down {
        color: $primarycolor;
        position: absolute;
        display: none;
        cursor: pointer;
        @media #{$mobilemedia} {
            display: block;
            top: 10px;
            right: 20px;
        }
        @media #{$smallmedia} {
            display: block;
            top: 15px;
            right: 40px;
        }
        @media #{$mediummedia} {
            display: none;
        }
    }
    .nav-brand {
        cursor: pointer;
        color: #fff;
        font: {
            size: 30px;
            weight: bold;
        }
        i:first-of-type {
            color: $primarycolor;
            font-size: 40px;
            @include prefixes (animation, rotating 1.5s infinite linear, webkit moz o);
        }
        i:last-of-type {
            color: $primarycolor;
            font-size: 25px;
            @include prefixes (animation, rotating 1.5s infinite linear, webkit moz o);
        }
        @media #{$mobilemedia} {
            font-size: 22px;
            i:first-of-type {
                font-size: 30px;
            }
            i:last-of-type {
                font-size: 18px;
            }
        }
    }
    ul {
        padding: 0;
        margin: 0;
        color: #fff;
        @media #{$mobilemedia} {
            display: none;
        }
        @media #{$smallmedia} {
            display: none;
        }
        @media #{$mediummedia} {
            display: block !important;
        }
    }
    ul li {
        display: inline-block !important;
        margin-right: 15px;
        cursor: pointer;
        position: relative;
        padding: 7px 10px;
        margin: 5px 10px;
        @include prefixes (transition, all 0.3s ease-in-out, webkit moz o);
        font: {
            size: 20px;
            weight: 600;
        }
        @media #{$mobilemedia} {
            width: 100%;
            margin-left: -10px;
            font-size: 15px;
        }
        @media (min-width: 768px) and (max-width: 992px) {
            width: 100%;
        }
        &:hover {
            transform: translateY(3px);
            .dropdown {
                color: #fff;
            }
        }
        i {
            color: #d35400;
            @include prefixes (transition, all 0.3s ease-in-out, webkit moz o);
        }
        a {
            text-decoration: none;
            color: #fff;
        }
    }
    .dropdown {
        position: absolute;
        top: 60px;
        right: -69px;
        background-color: transparent;
        width: 180px;
        border-radius: 0 0 5px 5px;
        display: none;
        
        @media #{$mobilemedia} {
            background-color: $maincolor !important;
            left: -8px;
            top: 45px;
        }
        @media #{$smallmedia} {
            background-color: $maincolor;
            left: -8px;
            top: 50px;
        }
        @media #{$mediummedia} {
            background-color: transparent;
        }
        p {
            a {
                margin-left: 10px;
                cursor: pointer;
                border-bottom: 3px solid $maincolor;
                @include prefixes (transition, all 0.3s ease-in-out, webkit moz o);
                &:hover {
                    color: $primarycolor;
                    margin-left: 15px;
                }
                &:first-of-type {
                    padding-top: 10px;
                }
            }
        }
    }
}
// keyframes of navbar brand
@include keyframes (rotating) {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* end navbar */
/* start header */
div.header {
    background: url("../images/header/header.jpg") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    color: #fff;
    .layer {
        background-color: rgba($maincolor, 0.8);
        height: 100%;
        .head {
            padding-top: 150px;
            @media #{$mobilemedia} {
                padding-top: 120px;
            }
            h4 {
                width: 220px;
                margin: auto;
                font-weight: bold;
                padding: 5px;
                border-top: 2px solid #fff;
                border-bottom: 2px solid #fff;
                @media #{$mobilemedia} {
                    width: 170px;
                    font-size: 16px;
                }
            }
            h1 {
                font-size: 60px;
                font-weight: bold;
                margin-top: 30px;
                margin-bottom: 40px;
                @media #{$mobilemedia} {
                    font-size: 40px;
                    margin-bottom: 20px;
                }
            }
            div.ul {
                display: inline-block;
                width: 200px;
                @media #{$mobilemedia} {
                    width: 120px;
                }
            }
            li {
                margin: 10px 20px;
                font-size: 30px;
                background-color: $primarycolor;
                border-radius: 50%;
                width: 80px;
                height: 80px;
                line-height: 80px;
                display: inline-block;
                overflow: hidden;
                margin-bottom: 80px;
                @include prefixes (transition, all 0.3s ease-in-out, webkit moz o);
                @media #{$mobilemedia} {
                    font-size: 20px;
                    width: 65px;
                    height: 65px;
                    line-height: 60px;
                    margin-bottom: 40px;
                }
                span.words {
                    display: none;
                    @include prefixes (transition, all 0.3s ease-in-out, webkit moz o);
                }
                &:hover {
                    width: 130px;
                    border-radius: 40px;
                    @media #{$mobilemedia} {
                        width: 100px;
                    }
                    i {
                        display: none;
                    }
                    span.words {
                        display: block;
                        
                    }
                }
                a {
                    color: #fff;
                    text-decoration: none;
                    @include prefixes (transition, all 0.3s ease-in-out, webkit moz o);
                }
            }
        }
    }
}
/* end header */
/* start section 1 */ 
div.section1 {
    margin: 50px auto 50px;
    .container {
        width: 70%;
        @media #{$mobilemedia} {
            width: 100%;
        }
        .map-responsive{
            width: 100%;
            height: 500px;
            margin: auto;
        }
    }
}
/* end section 1 */
/* start section 2 */ 
.section2 {
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: #eae9e9;
    @media #{$mobilemedia} {
        padding-bottom: 40px;
    }
    h2 {
        font-weight: bold;
        margin-bottom: 20px;
        &:before {
            font-family: "Font Awesome 5 Pro";
            content: "\f35a";
            padding-right: 10px;
            color: $primarycolor;
         }
     }
     h3 {
        font-weight: bold;
        margin-bottom: 20px;
     }
     .form {
         margin-bottom: 60px;
        i {
            display: block;
            font-size: 22px;
            margin-bottom: 10px;
            color: $primarycolor;
            aside {
                display: inline-block;
            }
            a,aside {
                font-size: 20px;
                margin-left: 10px;
                text-decoration: none;
                color: #000;
                transition: all 0.3s ease-in-out;
            }
            a:hover {
                color: $primarycolor;
            }
        }
        input {
            width: 500px;
            height: 50px;
            border-radius: 10px;
            padding: 10px;
            font-size: 19px;
            display: block;
            margin-bottom: 10px;
            outline: none;
            border-bottom: 2px solid var(--primary-color);
            background-color: rgb(214, 214, 213);
            box-shadow: 1px 1px 2px;
            @media #{$mobilemedia} {
                width: 300px;
                height: 45px;
                font-size: 17px;
            }
        } 
        textarea {
            width: 500px;
            height: 150px;
            border-radius: 10px;
            padding: 10px;
            font-size: 19px;
            display: block;
            margin-bottom: 10px;
            outline: none;
            border-bottom: 2px solid var(--primary-color);
            box-shadow: 1px 1px 2px;
            background-color: rgb(214, 214, 213);
            @media #{$mobilemedia} {
                width: 300px;
                height: 120px;
                font-size: 17px;
            }
        }
        button {
            width: 120px;
            height: 55px;
            font-size: 20px;
            border-radius: 10px;
            outline: none;
            background-color: $primarycolor;
            color: #fff;
            margin-bottom: 30px;
            transition: all 0.3s ease-in-out;
            &:hover {
                background-color: $maincolor;
                color: #fff;
                transform: translateY(10px);
            }
        }
    }
}
/* end section 2 */
/* start footer */
div.footer {
    background: url("../images/footer/footer.jpg") no-repeat center center fixed /cover;
    color: #fff;
    @media #{$mobilemedia} {
        text-align: center;
    }
    .layer {
        background-color: rgba(32, 31, 31, 0.92);
        height: 100%;
        .foot {
            padding-top: 80px;
            @media #{$mobilemedia} {
                padding-top: 40px;
            }
            h4 {
                margin-bottom: 30px;
                font-weight: bold;
                @media #{$mobilemedia} {
                    font-size: 22px;
                    margin-bottom: 20px;
                }
            }
            p {
                font-size: 18px;
                font-weight: bold;
                letter-spacing: 0.5px;
                color: #c9c7c7;
                @media #{$mobilemedia} {
                    font-size: 16px;
                }
            }
            p.myinfo {
                display: inline-block;
            }
            li {
                padding-bottom: 30px;
                font-size: 18px;
                font-weight: 600px;
                color: #c9c7c7;
                @media #{$mobilemedia} {
                    padding-bottom: 20px;
                    font-size: 17px;
                }
            }
            i {
                margin-right: 10px;
            }
            i.vac {
                font-size: 25px;
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                margin-right: 10px;
                margin-top: 20px;
                background-color: #555353;
                border-radius: 50%;
                cursor: pointer;
                transform: translateY(100px);
                opacity: 0;
                @include prefixes (transition, all 0.3s ease-in-out, webkit moz o);
                @media #{$mobilemedia} {
                    font-size: 22px;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                }
                &:hover {
                    background-color: #777777;
                }
            }
            i.location {
                font-size: 20px;
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                background-color: #555353;
                border-radius: 50%;
            }
        }
    }
    p.end {
        font-size: 20px;
        font-weight: 600;
        padding-top: 30px;
        padding-bottom: 40px;
        margin: 0;
        color: #e4e2e2;
        @media #{$mobilemedia} {
            font-size: 16px;
        }
        span {
            color: $primarycolor;
        }
        i {
            padding: 5px;
            color: $primarycolor;
        }
    }
}
/* end footer */