/* start color variables */ 

$maincolor: #2f3640;

$primarycolor: #d35400;

/* end color variables */
/* start media variables */

$mobilemedia: (max-width: 767px);

$smallmedia: (min-width: 768px);

$mediummedia: (min-width: 992px);

$largemedia: (min-width: 1200px);


/* end media variables */